/* ==================== Colors ==================== */
/* 
text-color 1: #2c2c2c
text-color 2: #035d6d
text-color 3: #ffffff

background-color 1: #f0eeeb
background-color 2: #0a7e9283
*/

/* ==================== General ==================== */

* {
  box-sizing: border-box;
}

body {
  background-color: #f0eeeb;
  color: #2c2c2c;
  font-family: Lato, sans-serif;
  margin: 20px;
  padding: 0px;
  font-size: 112.5%;
  font-weight: 300;
}

/* ==================== General Elements ==================== */

a {
  text-decoration: underline dotted;
  color: #035d6d;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: #035d6d;
}

h1 {
  font-weight: 300;
}

h3 {
  font-size: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

/* ==================== Utility Classes ==================== */

/* .text-color2 {
  color: #035d6d;
} */

/* ==================== Component Classes ==================== */

/* ---- Main Header with Nav Bar---- */

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-title {
  margin: 0px 10px 0px 0px;
}

.nav-bar {
  padding: 20px 0px 20px 0px;
}

.nav-bar a {
  padding: 5px;
  margin: 0 5px 0 0;
  text-decoration: none;
  border: 1px solid #035d6d;
  border-radius: 2px;
}

.nav-bar a:hover {
  background-color: #0a7e9283;
}

/* Media Query for min 500px */
@media (min-width: 468px) {
  .main-header {
    justify-content: space-between;
  }
  .nav-bar a {
    margin: 0 0 0 5px;
  }
}

/* ---- Main Grid ---- */
.main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

@media {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

/* ---- Skills ---- */
.skills-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills-ul li {
  display: inline-block;
  padding: 5px;
  margin: 3px;
  background-color: #0a7e9283;
  color: #ffffff;
  border-radius: 4px;
}

.skills h2 {
  margin-bottom: 18px;
}

/* ---- Contact ---- */
.contact-card {
  height: 150px;
  max-width: 400px;
  border-radius: 5px;
  background-color: #0a7e9283;
  width: 100%;
  color: rgb(44, 44, 44);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-card p {
  margin: 8px 0 0 0;
}

.contact-details h2 {
  color: rgb(44, 44, 44);
}

.img-icon {
  height: 110px;
  width: auto;
}

/* ---- Biography and CV ---- */

.cv {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.cv-headline {
  margin: 0 0 15px 0;
}
.cv-date {
  color: #035d6da9;
  font-style: italic;
  font-size: 80%;
  margin-bottom: 0;
  margin-top: 0;
}

.cv-station {
  color: #035d6d;
  margin: 0;
}

.cv-description {
  font-size: 80%;
  color: rgba(0, 0, 0, 0.644);
  margin: 0;
}

/* Media Query for min 500px */

@media (min-width: 630px) {
  .cv {
    grid-template-columns: 1fr 2fr;
    align-items: end;
  }
  .cv-headline {
    grid-column: 1/-1;
  }
  .cv-description {
    grid-column: 2/3;
  }
}

/* Code Snippet for bigger screens? */
/* .cv {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
}
.cv-headline {
  grid-column: span 2;
}

.cv-description {
  grid-column: 2/3;
} */
