/* ==================== General ==================== */

* {
  box-sizing: border-box;
}

body {
  background-color: #f0eeeb;
  color: rgb(44, 44, 44);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 112.5%;
}

/* ==================== General Elements ==================== */

a {
  text-decoration: underline dotted;
  color: #035d6d;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: #035d6d;
}

h3 {
  font-size: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

/* ==================== Utility Classes ==================== */

/* .text-color {
  color: #035d6d;
} */

/* ==================== Component Classes ==================== */

/* ---- Main Grid ---- */

.main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

/* ---- Main Header ---- */

/* .main-header {
  display: flex;
  justify-content: space-between;
} */

/* ---- Nav Bar ---- */
.nav-bar {
  display: flex;
  padding: 0 0 5px 0;
}

.nav-bar a {
  padding: 5px;
}

/* ---- Skills ---- */
.skills-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills-ul li {
  display: inline-block;
  padding: 5px;
  margin: 3px;
  background-color: #0a7e9283;
  color: #ffffff;
  border-radius: 4px;
}

.skills h2 {
  margin-bottom: 18px;
}

/* ---- Contact ---- */
.contact-card {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 150px;
  border-radius: 5px;
  background-color: #0a7e9283;
  align-self: center;
  justify-self: center;
  width: 100%;
  text-align: center;

  margin: auto;
}

/* .contact-details {
  flex-direction: column;
  padding: 20px;
} */

.contact-details h2 {
  color: rgb(44, 44, 44);
}

.img-icon {
  height: 110px;
  width: auto;
}

.contact-link {
  color: rgb(44, 44, 44) 00;
}

/* ---- Biography and CV ---- */

.cv {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.cv-headline {
  margin: 0;
}
.cv-date {
  color: #035d6da9;
  font-style: italic;
  font-size: 80%;
  margin-bottom: 0;
  margin-top: 15px;
}

.cv-station {
  color: #035d6d;
  margin: 0;
}

.cv-description {
  font-size: 80%;
  color: rgba(0, 0, 0, 0.644);
  margin: 0;
}

/* Code Snippet for bigger screens? */
/* .cv {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
}
.cv-headline {
  grid-column: span 2;
}

.cv-description {
  grid-column: 2/3;
} */
